.card-tour{
  border:.2rem solid #e5e5e5;
  border-radius:1rem
}

.card-tour:hover {
box-shadow: 2px 2px 2px 2px #e5e5e5;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.search-text-size-input{
  font-size: 20px;
  height: 100%;
}

.search-text-size-boton{
  font-size: 15px;
}
.tours-card-title{
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}
.tours-card-content{
  font-size: 16px;
}
.tours-card-content-p{
  font-size: 14px;
}
.tours-agency-name{
  font-weight: bold;
  font-size: 17px;
}
