#productTitle {
  margin-left: 140px;
}

// ---------- GALLERY (PHOTOS)-----------------

.gallery-container {
  width: 80%;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 1.5rem;
  border-radius: 30px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--1 > img {
  border-top-left-radius: 15px;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 > img {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--4 > img {
  border-bottom-left-radius: 15px;
}

.gallery__item--5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

//---------BOTON RESERVAR------------
.reservar-btn {
  border:2px solid rgb(243, 242, 242);
}


// ---------------PRECIO--------------
.price-container {
  background-color: white;
  margin-bottom: 4px;
  margin: 0px auto;
  padding: 10px 0px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  h2{
    text-align: left;
    padding: 10px 32px;
  }
}


//---------------DESCRIPCION----------
.description-container {
  background-color: white;
  margin-bottom: 4px;
  margin: 0px auto;
  padding: 10px 32px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


// ---------------ACCORDION-----------
.accordion-container {
  background-color: white;
  margin: 0px auto;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.accordion-card {
  margin: 10px 0px;
  padding: 10px 0px;
}

.accordion-card-header {
  background-color: white;
}

.btn-accordion {
  background-color: white;
  border: none;
  color: black;
  text-decoration: none;
}

.card-header:hover {
  background-color: rgb(243, 242, 242);
  border: none;

  .card-button {
  background-color: rgb(243, 242, 242);
  border: none;
  }

  .btn-accordion {
    background-color: rgb(243, 242, 242);
    border: none;
    text-decoration: none;
    color: black;
  }
}

//--------- CUADRO RATING + REVIEWS -------------
// a {
//     text-decoration: none !important;
//     color: inherit
// }

// a:hover {
//     color: #455A64
// }

.card-rating {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar-5 {
    width: 70%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-4 {
    width: 30%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-3 {
    width: 20%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-2 {
    width: 10%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

.bar-1 {
    width: 0%;
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}

td {
    padding-bottom: 10px
}

.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 160px;
    height: 120px;
    margin-right: 10px

}

.vote {
    cursor: pointer
}

.stars {
  color: #FFAB39;
  font-size: 16px;
}


//-------------EXPERIENCIAS SIMILARES CARDS------------
.cards-container {
  margin: 0 auto;
}

.card-container {
  background-color: white;
  width: 250px;
  padding: 14px;
  margin: 10px;
  position: relative;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 cursor: pointer;
}

.card-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.card-content {
 display: flex;
 justify-content: space-between;
}

.card-content .title {
  margin: 0px;
  margin-bottom: 6px;
  padding-top: 16px;
  color: rgba(0, 0, 0, 0.8)
}

.card-content p {
  margin: 0px;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.5)
}

.card-content i {
  color: #FFAB39;
  margin-bottom: 12px;
}

#card-heart {
  position: absolute;
  top: 28px;
  right: 26px;
  opacity: 0.5;
}

.card-footer {
  text-align: center;
  padding: 20px 0px;
  border-top: 1px solid lightgray;
}

.card-footer a {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.star-rating i {
  color: #FFAB39;
}

.btn-similaries {
  border: none;
}


//INICIO estilos para el scrool vertical de review
.scroll-review{
  height:70rem;
  overflow-y: scroll;
  width:100%
}

// FIN estilos para el scrool vertical de review
.similar-experiences{
  width:100%;
  overflow-x: scroll;
  .card-review{
    max-height: 10rem;
  }
}
.accordion-photos{
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
  float: left;
  width: 25%;
  }

}

/* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    opacity:.9
  }
/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
  width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.5s;
}
.hover-shadow:hover{
  cursor: pointer;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
