.create-tour-card{
  .row{
    border-top: 1px solid white;
  }
}
.create-tour-card{
  font-size:1.5rem;
  p{
    color:#535353;
  }
  .first{
    font-weight: 700;
  }
}

.agency-img {
  object-fit: cover;
}
