// Specific CSS for your home-page
#carouselExampleIndicators{
  height:60vh;
  img{
     height:60vh;
    width: 100%;
  }
}
.overlay-search{
  height:30vh;
}
.overlay{
  background-color: #ffffff;
  opacity: 0.85;
  border-radius: 1rem;
}
.overlay{
  p{
    font-weight: 300;
  }
}
.input-group{
    opacity: 1;
    background-color: white !important;
}
.card-choose{
width: 100%;
height: 20rem;
background-size: cover;
background-position: center;
border-radius: 1rem;
a{
  color: white;
  font-size: 2rem;
 }
a:hover{
  text-decoration: none;
  color:antiquewhite;
      }
}

// scrooll
/* The heart of the matter */
/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-sm-4 {
  display: inline-block;
  float: none;
}
.card-near{
  border-radius:10px;
  p{
    font-size:1.2rem;
    color:black;
  }
  i{
    color: black;
  }
}
.why-explora{
  h4{
    font-size:2rem;
    font-weight: 700;
    color: #2A2D32;

  }
}
.description-why-explora{
  font-size:1.2rem;
  color: #2A2D32;
}
.card-near:hover{
  box-shadow:  0px 0px 5px 0px #186B6D inset;
}
.card-choose{
  filter: brightness(70%);
}
.title-card-recomend{
  white-space:normal;
}
/* media queries */
@media only screen and (min-width: 300px) and (max-width: 700px){
  #carouselExampleIndicators{
    height:50vh;
    img{
      height:50vh;
      width: 100%;
    }
  }

  .overlay{
    padding-top: 3rem !important;
    .p-col-overlay{
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  .overlay-search{
  height:40vh;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 3000px){

}
