<div class="container text-center">
<p><%= tour.title_tour %></p>
<%= link_to "Ver más",tour_path(tour), :class => "btn btn-success py-2 px-3",:style => "font-size:12px;"%>
</div>

<%# Implementar Argolia gem %>
