.social-media i{
font-size:2.2rem;
margin-left:3rem;
}
a{
  color:#ffffff
}
a:hover{
  color:darkgrey
}
.footer{
  background-color:#2a2d32;

}
.nav-link{
  font-size: 1.4rem;
}
.link-footer{
  border-bottom: 1px solid #585c63;
}
