.navbar-lewagon {
  justify-content: space-between;
  background: white ;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 12rem;
}
.navbar-lewagon{
  .nav-link{
    color:#186b6d !important;
  }
  .nav-link:hover{
    border-bottom: 4px solid #186b6d;
  }

}
