.companions-create {
display:none !important;
}

.card-header {
display:none !important;
}

.review {
display:none !important;
}

.link-path {
display:none !important;
}

.card-img-top {
width: 450px;
height: 450x;
margin-left: 24.5%;
object-fit: cover;
}

.data {
margin-left: 45px;
}
.title {
  text-align: center;
}

.companion-pdf {
  margin-left: 45px;
}
