.tucartera{
  div{
    small{
      font-size:1.4rem !important;

    }
    h6{
      font-size:1.4rem;
    }
  }
  strong{
    font-size:1.4rem;
  }
  span{
    font-size:1.4rem;
  }

}
.new_companion{
  display:flex;
  width:100%;
  justify-content:space-between;
}
.new_review{
  display:flex;
  width:100%;
}

.card-payment-booking {
  margin: 0 auto;

.btn-outline-success {
  font-size: 16px;
}
